/******************** Desktop [<-1366->) *********************** */

.align--bottom{
    padding-top: 104px !important;
}

.work-section--portfolio{
    flex-direction: column;
    gap: 0px;
}

.work-column{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.w-portfolio{
    min-height: fit-content !important;
}

/******************** TABLET [768>1023) *********************** */
@media screen and (max-width: 1024px){

}


/******************** PHONE [<-820 portrait) *********************** */
@media screen and (max-width: 820px){
    
    .work-column{
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .align--bottom{
        padding-top: 0 !important;
    }
    .work-section--portfolio{
        flex-direction: column;
        gap: 64px;
    }
    

}