/******************** DESKTOP [1024->) *********************** */
.cs--image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-default{
    background-color: #FCD756;
}


/* COVER */
.img-cover--one{
    background-image: url(../img/bceats/summary-desktop.png);
    background-color: #FCD756;
}

/* THE GOAL */
    .img-goal--one{
        background-image: url(../img/bceats/goal-1.jpg);
        background-size: cover;
    }
    .img-goal--two{
        background-image: url(../img/bceats/goal-2.png);
        background-size: cover;
    }
    .img-goal--three{
        background-image: url(../img/bceats/goal-3.jpg);
        background-size: cover;
    }

/* RESEARCH */
    .img-research--one{
        background-image: url(../img/bceats/brain-storming-1.png);
        background-size: cover;
    }
    .img-research--two{
        background-image: url(../img/bceats/brain-storming.png);
        background-size: cover;
    }
    .img-research--three{
        background-image: url(../img/bceats/brain-storming-2.png);
        background-size: cover;
    }

/* CONCEPTUALIZE */
    .img-concept--one{
        background-image: url(../img/bceats/concept-1.png);
        background-size: cover;
    }
    .img-concept--two{
        background-image: url(../img/bceats/concept-2.png);
        background-size: cover;
    }

/* IDEATE */
    .img-ideate--one{
        background-image: url(../img/bceats/ideate-1.png);
        background-size: contain;
    }
    .img-ideate--two{
        background-image: url(../img/bceats/ideate-2.png);
        background-size: contain;
    }
    .img-ideate--five{
        height: 100px !important;
        background-image: url(../img/bceats/ideate-5.png);
        background-size: 80%;
    }
    .img-ideate--three{
        background-image: url(../img/bceats/ideate-3.png);
        background-size: contain;
    }
    .img-ideate--four{
        background-image: url(../img/bceats/ideate-4.png);
        background-size: contain;
    }

/* WEB DESIGN */
    .img-webdesign--one{
        background-image: url(../img/bceats/website-1.png);
        background-size: contain;
        background-color: #ffffff;
    }
    .img-webdesign--two{
        background-image: url(../img/bceats/website-2.png);
        background-size: cover;
    }
    .img-webdesign--three{
        background-image: url(../img/bceats/website-3.png);
        background-size: cover;
    }

/* CODE */
    .img-dev--one{
        background-image: url(../img/bceats/dev-1.png);
        background-size: cover;
    }

/* RESULTS */
    .img-proto--one{
        background-image: url(../img/bceats/proto-1.png);
        background-size: contain;
        background-color: #8DDFE4;
    }
    .img-proto--two{
        background-image: url(../img/bceats/proto-2.png);
        background-size: contain;
        background-color: #FEE99C;
    }




/******************** TABLET [768>1023) *********************** */
@media screen and (max-width: 1024px){

   
}


/******************** PHONE [<-820 portrait) *********************** */
@media screen and (max-width: 820px){
   /* COVER */
    .img-cover--one{
        background-image: url(../img/bceats/summary-mobile.png);
        background-color: #FCD756;
    }
}